* {
    padding: 0;
    margin: 0;
}
body {
    background: #f4f4f4;
    font-size: 15px;
}
form {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    max-width: 640px;
    margin: 20px auto;
    border: 1px solid #008000;
}
form>h2 {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}
form>div {
    margin: 25px 0 25px 24px;
}
form input {
    display: inline-block;
    height: 30px;
    color: #333;
    border: 1px solid #ddd;
    padding-left:5px;
    vertical-align: middle;
}
form input:focus {
    outline: none;
    border-color: #bbb;
}
form>div span:first-child {
    display: inline-block;
    width: 60px;
    text-align: justify;
    text-align-last: justify;
}
form>div span:last-child {
    margin-left: 5px;
    color: gray;
    font-size: 13px;
}
.girl {
    margin-left: 40px;
}
#span_sex {
   margin-left: 76px;
}
#span_degree {
    margin-left: 111px;
}
.sub input{
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 59px 0;
    width: 136px;
    height: 57px;
    background: #3cb371;
    color: #fff;
}